footer{
  position: relative;
  padding: 30px;
  padding-top: 50px;
  background: $w;
  box-shadow: 0 -6px 5px 0px rgba($color: $b, $alpha: .05);
  @include media("<=tablet") {
    padding: 10px;
    padding-top: 50px;
  }
  h3, h4{
    transform: scale(0.7);
    @include media("<=tablet") {
      transform: scale(1);  
    }
  }  
  h3{
    @include media("<=tablet") {
      font-size: 18px;
    }
  }
  h4{
    font-size: 22px;
    @include media("<=tablet") {
      font-size: 16px;
    }
  }
  .ctn-rev{
    transform: scale(0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @include media("<=tablet") {
      transform: scale(1);  
      margin-top: 50px;
    }
    .ctn-rev-single{
      padding: 0 10px;
      text-align: center;
      border-right: 2px solid rgba($color: $b, $alpha: .1);
      @include media("<=tablet") {        
        padding: 20px;
        margin-bottom: 30px;
      }
      &:nth-of-type(even){
        @include media("<=tablet") {        
          border:none;
        }
      }
      &:last-of-type{
        border: none;
      }
      img.main{
        height: 100px;
        @include media("<=tablet") {
          height: 50px;          
        }
      }
      .ctn-rating{
        font-size: 22px;
        @include media("<=tablet") {
          font-size: 14px;
        }
      }
      .ctn-stars{
        img{
          height: 20px;
          @include media("<=tablet") {
            height: 12px;
          }
        }
      }
    }
  }
  .ctn-bottom{
    font-size: 14px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media("<=tablet") {
      text-align: center;
      flex-direction: column-reverse;
      margin-top: 30px;
    }
    div{
      color: fade-out($color: $b, $amount: 0.5);
      a{
        padding: 0 15px;
        color: fade-out($color: $b, $amount: 0.5);
        @include media("<=tablet") {
          padding: 0 25px;
        }
      }
      img{
        padding-left: 25px;
        height: 30px;
      }
      &.foot-info{
        @include media("<=tablet") {
          margin: 25px 0;
          font-size: 12px;
        }
      }
    }
  }
}