header{
  background: $w;
  width: $full;
  position: fixed;
  z-index: 2;
  @include media("<=tablet") {
    position: relative;
  }
  .navbar{
    padding: 0 50px;
    height: $headHeight;
    box-shadow: 0 0 5px 0 rgba($color: $b, $alpha: .1);
    font-size: 20px;
    @include media("<=tablet") {
      padding: 10px;
      height: unset;
    }
    .navbar-brand{
      img{
        height: 25px;
      }
    }
    .nav-item{
      padding: 0 10px;
      .nav-link{
        color: $b !important;
        display: flex;
        align-items: center;
        img{
          height: 32px;
        }
        span{
          font-size: 14px;
          padding-right: 15px;
        }
      }
      &.rating{
        @include media("<=lp") {
          display: none;
        }
      }
    }
  }

  .title{
    font-size: 20px;
    position: absolute;
    top: $half;
    left: $half;
    transform: translate(-$half, -$half);
    @include media("<=sld") {
      transform: translate(-70%, -$half);
    }
  }

}