// Colors
$pr: #99e1c9;
$sc: #00b679;
$w: #fff;
$b: #000;
$l: #f6f6f6;

// Percent Measures
$full: 100%;
$half: 50%;

// Others
$headHeight: 80px;
$subHeadHeight: 130px;
$sh: 0 0 10px 2px rgba($color: $b, $alpha: .1);
$breakpoints: (
  'tablet': 1024px,
  'md': 1280px,
  'lp': 1366px,
  'sld': 1500px,
  'ld': 1600px
) !default;