<footer>
  <h3 class="text-center font-weight-bold">Die erste Deutsche Plattform für Untermietverträge</h3>
  <h4 class="text-center">Von tausenden Kunden deutschlandweit mit Bestnote bewertet</h4>
  <div class="ctn-rev">
    <div class="ctn-rev-single">
      <img class="main" src="img/logo_01.png" alt="">
      <div class="ctn-rating"><b>4.5</b> / 5</div>
      <div class="ctn-stars">
        <img src="img/star.png" alt="" />
        <img src="img/star.png" alt="" />
        <img src="img/star.png" alt="" />
        <img src="img/star.png" alt="" />
        <img src="img/star.png" alt="" />
      </div>
    </div>
    <div class="ctn-rev-single">
      <img class="main" src="img/logo_02.png" alt="">
      <div class="ctn-rating"><b>4.5</b> / 5</div>
      <div class="ctn-stars">
        <img src="img/star.png" alt="" />
        <img src="img/star.png" alt="" />
        <img src="img/star.png" alt="" />
        <img src="img/star.png" alt="" />
        <img src="img/half-star.png" alt="" />
      </div>
    </div>
    <div class="ctn-rev-single">
      <img class="main" src="img/logo_03.png" alt="">
      <div class="ctn-rating"><b>4.5</b> / 5</div>
      <div class="ctn-stars">
        <img src="img/star.png" alt="" />
        <img src="img/star.png" alt="" />
        <img src="img/star.png" alt="" />
        <img src="img/star.png" alt="" />
        <img src="img/star.png" alt="" />
      </div>
    </div>
    <div class="ctn-rev-single">
      <img class="main" src="img/logo_04.png" alt="">
      <div class="ctn-rating"><b>4.5</b> / 5</div>
      <div class="ctn-stars">
        <img src="img/star.png" alt="" />
        <img src="img/star.png" alt="" />
        <img src="img/star.png" alt="" />
        <img src="img/star.png" alt="" />
        <img src="img/half-star.png" alt="" />
      </div>
    </div>
    <div class="ctn-rev-single">
      <img class="main" src="img/logo_05.png" alt="">
      <div class="ctn-rating"><b>4.5</b> / 5</div>
      <div class="ctn-stars">
        <img src="img/star.png" alt="" />
        <img src="img/star.png" alt="" />
        <img src="img/star.png" alt="" />
        <img src="img/star.png" alt="" />
        <img src="img/half-star.png" alt="" />
      </div>
    </div>
    <div class="ctn-rev-single">
      <img class="main" src="img/logo_06.png" alt="">
      <div class="ctn-rating"><b>4.5</b> / 5</div>
      <div class="ctn-stars">
        <img src="img/star.png" alt="" />
        <img src="img/star.png" alt="" />
        <img src="img/star.png" alt="" />
        <img src="img/star.png" alt="" />
        <img src="img/half-star.png" alt="" />
      </div>
    </div>
  </div>
  <div class="ctn-bottom">
    <div class="foot-info">
      Untermietvertrag.com<sup>&copy;</sup> ist die erste Deutsche platform, die dir hilft innerhaib<br class="no-mobile"/>
      von wenigen Minuten einen kompletten Untermietvertrag zu erstellen
    </div>
    <div>
      <img class="no-desktop p-0 mb-4" src="img/paypal.png" alt="" /><br/>
      <a href="#">Blog</a>
      <a href="#">Bezahlung</a>
      <a href="#">Impressum</a>
      <img class="no-mobile" src="img/paypal.png" alt="" />
    </div>
  </div>
</footer>