<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand font-weight-bold" href>
      <img src="img/logo.png" alt="" />
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="title font-weight-bold mx-auto no-mobile">Dien Untermietvertrag</div>

    <div class="collapse navbar-collapse" id="navContent">
      <div class="mr-auto">        
      </div>
      <ul class="navbar-nav">
        <li class="nav-item no-mobile rating">
          <a class="nav-link" href>
            <img src="img/batch.png" alt="" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href><span>Probleme? Jetzt beraten</span> <b>0800 - 100 42 15</b></a>
        </li>
      </ul>
    </div>
  </nav>
</header>